@model Portal.Models.modelPackage;
@using Portal.Models;

<script src="~/assets/pace.min.js"></script>
<link href="~/assets/pace.css" rel="stylesheet" />

<script>

            function downloadSelected() {

                var idArray = new Array();

                $('input[type="checkbox"]:checked').each(function () {
                    idArray.push($(this).val());
                });

                if (idArray.length > 0) {
                    var input = idArray.join();
                    window.location = '@Url.Action("batchDownloadHandler", "Home")?input=' + input;
                }

            }

            function downloadAll() {

                var idArray = new Array();
                var elements = document.getElementsByName("checkbox");

                for (var i = 0, element; element = elements[i++];) {
                    idArray.push(element.value);
                }

                var input = idArray.join();
                window.location = '@Url.Action("batchDownloadHandler", "Home")?input=' + input;
            }

</script>

<div class="row animated pulse" style="margin-top: -2vh; margin-bottom: 1vh; margin-left: 0vw;">
    <p>Loaded <span style="color: #007bff; font-weight: bolder;"> @Model.total </span> results of <span style="color: #007bff; font-weight: bolder;"> @Model.count </span></p>
</div>

<div class="row" style="margin-bottom: 5vh;">
    <div class="dropdown" style="margin-left: 1vw;">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="downloadAll()">Download all loaded</a>
            <a class="dropdown-item" onclick="downloadSelected()">Download all selected</a>
        </div>
    </div>
</div>

<div role="tablist" id="accordion-1">
    @foreach (modelDataResult result in Model.dataresults)
    {

        <div class="row animated fadeInUp">

            <div class="col-xs-1" style="margin-top: 4vh; margin-left: -1vw">
                @{
                    string checkboxId = @Convert.ToString(result.ID);
                }
                <label class="checkbox-inline"><input name="checkbox" value="@checkboxId" id="checkbox" type="checkbox"></label>
            </div>

            <div class="col">
                <div class="card animated fadeInUp" id="card" style="border-left: 1.0vh solid #01307E; margin-bottom: 1vh; z-index: 1; position: relative;" onload="UpdateTags(@result)">
                    <div class="card-header" role="tab">

                        <div class="row" style="margin-left: 0.0vw;">
                            <h5 class="mb-0">
                                <a style="font-size: 16pt; color: darkblue" data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-@result.ID" href="div#accordion-1 .item-@result.ID">
                                    <span style="color: cornflowerblue; text-decoration: none;">uID: @result.uniqueID</span>
                                </a>
                            </h5>

                            <div class="row" style="margin-left: 1%; width: 10vw;">
                                @{
                                    if (result.tags != null)
                                    {
                                        foreach (modelTag tag in result.tags)
                                        {
                                            <div class="col-xs" style="margin: 1%;">
                                                <i class="fas fa-circle fa-xs" style="color: @tag.color" data-toggle="tooltip" data-placement="top" title="@tag.name"></i>
                                            </div>
                                        }
                                    }
                                }

                            </div>

                        </div>


                        <div class="row">
                            <div class="col">
                                <h1 style="font-size: 12pt;">@result.assayID</h1>
                            </div>
                            <div class="col">
                                <h1 style="font-size: 12pt; margin-left: 12vw;">Download: @result.downloadDateTime</h1>
                            </div>
                            <div class="col-xs">
                                <div class="btn-group dropup">

                                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-tags"></i>
                                    </button>

                                    <div class="dropdown-menu" style="z-index: 1; position:relative;">
                                        <!-- Dropdown menu links -->
                                        @*@foreach (modelTag tag in Model.tags)
                                            {
                                                int tagID = tag.ID;
                                                int resultID = result.ID;

                                                <button id="button1" type="button" class="btn-primary dropdown-item" onclick="AddTag(this)" data-assigned-tag="@tagID" data-assigned-result="@resultID"><i class="fas fa-circle fa-xs" style="color: @tag.color"></i> @tag.name</button>
                                            }*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse item-@result.ID" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <div class="row" style="/*text-align: center;*//*display: block;*/">
                                <div class="col-xl-5" style="margin: auto;">
                                    <p><span style="color: slategrey; font-size: 13pt;">KIT LOT ID:</span> @result.kitLotID</p>
                                    <p><span style="color: slategrey; font-size: 13pt;">INSTRUMENT NAME:</span> @result.instrumentName</p>
                                </div>
                                <div class="col-xl-5" style="margin: auto;">
                                    <div class="row" style="margin-left: 15vw;">
                                        <div class="col">
                                            <!-- Dropdown 2 -->
                                            <div class="dropdown" style="/*margin: auto;*/margin-bottom: 2vh;">
                                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Download</button>
                                                <div class="dropdown-menu" role="menu">
                                                    @using (Html.BeginForm("DownloadHandlerResult", "Home", result))
                                                    {
                                                        <form method="POST">
                                                            <button class="dropdown-item btn-link" role="presentation" type="submit">JSON Results</button>
                                                        </form>
                                                    }
                                                    @using (Html.BeginForm("DownloadHandlerRaw", "Home", result))
                                                    {
                                                        <form method="POST">
                                                            <button class="dropdown-item btn-link" role="presentation" type="submit">Raw Data</button>
                                                        </form>
                                                    }
                                                    @using (Html.BeginForm("DownloadHandlerCSV", "Home", result))
                                                    {
                                                        <form method="POST">
                                                            <button class="dropdown-item btn-link" role="presentation" type="submit">CSV Formatted</button>
                                                        </form>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 15vw;">
                                        <div class="col" style="margin-left: 1vw;">
                                            <div class="row">
                                                <a class="btn btn-warning" role="presentation" type="submit" href="@Url.Action("Report", "Home", result)" target="_blank">Report</a>
                                            </div>
                                            <div class="row">
                                                <a class="btn btn-warning" role="presentation" style="margin-top: 2vh;" type="submit" href="@Url.Action("showGraph", "Home", result)" target="_blank">Plot LOG</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>