@model Portal.Models.modelPackage
@using Portal.Models;

<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<body>

<div class="row">
    <div class="col text-center">
        <table style="text-align: center; width: 60%; margin-left: auto; margin-right: auto;" align="center">
            <tr>
                <th>Table</th>
                <th>Entries</th>
                <th></th>
            </tr>
            <tr>
                <td>Track</td>
                <td>@Model.counttrack</td>
                <td>@Html.ActionLink("View", "ViewDatabaseTrackers", new { controller = "Home" }, new { target = "_blank" })</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>@Model.count</td>
                <td>@Html.ActionLink("View", "ViewDatabase", new { controller = "Home" }, new { target = "_blank" })</td>
            </tr>
            <tr>
                <td>Instruments</td>
                <td>@Model.totalInstruments</td>
                <td>@Html.ActionLink("View", "ViewDatabaseInstruments", new { controller = "Home" }, new { target = "_blank" })</td>
            </tr>
            <tr>
                <td>Users</td>
                <td>@Model.countusers</td>
                <td>@Html.ActionLink("View", "ViewDatabaseUsers", new { controller = "Home" }, new { target = "_blank" })</td>
            </tr>
        </table>
    </div>
</div>

</body>